In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv("cleaned_data.csv")

In [5]:
df.head()

,Rank,Username,Categories,Suscribers,Country,Visits,Likes,Comments,Subscribers (millions)
0,1,tseries,['Music & Dance'],253500000,India,111300,3200,120,253.5
1,2,MrBeast,"['Video Games', 'Humor']",210100000,United States,95400000,5400000,16600,210.1
2,3,CoComelon,['Education'],168100000,Unknown,4100000,21600,0,168.1
3,4,SETIndia,['Unknown'],165400000,India,23300,239,9,165.4
4,5,KidsDianaShow,"['Animation', 'Toys']",116500000,Unknown,4100000,8800,0,116.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    997 non-null    object
 1   Username                997 non-null    object
 2   Categories              997 non-null    object
 3   Suscribers              997 non-null    int64
 4   Country                 997 non-null    object
 5   Visits                  997 non-null    int64
 6   Likes                   997 non-null    int64
 7   Comments                997 non-null    int64
 8   Subscribers (millions)  997 non-null    float64
dtypes: float64(1), int64(4), object(4)
memory usage: 70.2+ KB